body {
    background-color: cadetblue;
}

.title,
h2,
h4 {
    text-align: center;
    background-color: #ffe4c4;
    font-family: 'Times New Roman', Times, serif;
}

.list {
    color: darkred;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.ordered {
    background-color: #deb887;
}

.unordered {
    background-color: #e9967a;
}